<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lib</title>
    <link rel=stylesheet href='css/bootstrap.min.css'>
    <link rel=stylesheet href='css/style.css'>
    <script data-main='./js/main' src="./js/libs/require.js"></script>
</head>
<body>
	<div class='container'> 
        <div class='header'>
            <div class='col-xs-1'>
    	       <h1>Lib task</h1>
            </div>
        </div>
	</div>

    <hr>

    <script type='text/tecdmplate' id = 'book-entry-template'> 
        <div class='book-entry'>
        <div class='row'>
            <h2> <%= title %> </h2>
            <div class='author'> <h3> by <%= author %> </h3> </div>
            <p> <%= description %> </p>
        </div>
        </div>
    </script>

    <div class='container'>
        <div id="book-list">
        </div>
    </div>

</body>
</html>
